#homepageBody{
  text-align: center;
  color: white;
  font-family: 'Patua One', cursive;
  /*font-family: 'Vidaloka', serif;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
}

.jumbotron{
  background-color: #99ccff;
}

.jumbotron p{
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.btn-primary{
  background-color: black;
  color: white;
  font-size: 20px;
}

#surveyBody{
  font-family: 'Nunito Sans', sans-serif;
}

h2, h3{
  font-weight: bold;
}

h4{
  color: #B52894;

}

#surveyHeader{
  font-weight: bold;
  color: #B52894;
}

#friendModal{
  color: #B52894;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}


#img{
  max-height: 250px;
  max-width: 250px;
}
